
*{
  box-sizing: border-box;
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 400;
}

#Home{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content:center;
}

#left_sidebar, #center_column, #right_sidebar{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  margin: 10px;
  padding: 20px;
  border: solid 1px #979797;
}
#center_column{
  width: 400px;
}
