
*{
  /* box-sizing: border-box; */
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
}

.header{
      box-sizing: border-box;    
      display: flex;
      position: sticky;
      top:0;
      z-index: 99;
      height: 80px;
      width: 100% ;   
      padding: 0 20px;
      border-bottom: 5px solid #313538;
      background-color: rgba(18,18,18);
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .header-logo{
    width: 258px;
    height: 48px;
    background-size: contain;
    margin-left: auto;
  }
  .header-navbar{
    margin-left: auto;
    display: flex;
    align-items: center;
  }

#Home{
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content:center; */
}

#left_sidebar, #center_column, #right_sidebar, #self_balance_list{
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border: solid 1px #979797;
}
#center_column{
  flex-direction: column;
  width: 60%;
}

#left_sidebar, #right_sidebar{
  width: 15%; 
  min-height: 100vh !important;
}

#group_area, #group_list, .debt_list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#top_bar,#debt{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
#self_balance_list{
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 20px;
  border: solid 1px #979797;
}

#negatives, #possitives{
  margin: 0;
  font-size: 40px;
}
.card{
  margin: 10px 0 10px;
}

